<div class="dashboard-container">
    <div>
        <app-widget-area></app-widget-area>
    </div>
    
    <br>
    
    <mat-divider>
    </mat-divider>
    
    <br>
    
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <mat-card fxFlex="25">
            <app-widget-card label="Demand" total="18k" percentage="50"></app-widget-card>
        </mat-card>
        <mat-card fxFlex="25">
            <app-widget-card label="Delivery" total="18k" percentage="50"></app-widget-card>
        </mat-card>
        <mat-card fxFlex="25" >
            <app-widget-card label="Service Levels" total="18k" percentage="50"></app-widget-card>
        </mat-card>
        <mat-card fxFlex="25">
            <app-widget-card label="Obsoletes" total="18k" percentage="50"></app-widget-card>
        </mat-card>
    </div>
</div>


